RewriteEngine On
RewriteRule ^resources/?$              /resources/ks2         [L,R=302]
RewriteRule ^lessons/?$                /lessons/children      [L,R=302]
RewriteRule ^static/                   -                      [L]
RewriteRule ^index.php                 -                      [L]
RewriteRule ^([^/.]+)(/([^/.]+))?/?$   /index.php?s=$1&t=$3   [L]
