RewriteEngine On
RewriteRule ^v2/2/resources/?$              /v2/2/resources/ks2         [L,R=302]
RewriteRule ^v2/2/lessons/?$                /v2/2/lessons/children      [L,R=302]
RewriteRule ^v2/2/static/                   -                           [L]
RewriteRule ^v2/2/index.php                 -                           [L]
RewriteRule ^v2/2/([^/.]+)(/([^/.]+))?/?$   v2/2/index.php?s=$1&t=$3    [L]
