body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 14px;
    line-height: 17px;
}

div#wrapper {
    margin: 70px auto;
    width: 950px;
    padding: 0 35px;
    border-left: 2px solid #878182;
    border-right: 2px solid #878182;
}

img {
    border: 0;
}

img.title {
    display: block;
}

a.button {
    display: block;
    background-color: #343434;
    color: white;
    width: 150px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

/************************ HEADER *********************/

div#header {
    position: relative;
    background-image: url("images/header_bg.png");
    width: 950px;
    height: 250px;
    color: white;
}

div#logo {
    position: absolute;
    top: -50px;
    left: 50px;
}

div#logo img {
    display: block;
    margin: 0 auto 10px auto;
}

div#about {
    position: absolute;
    left: 285px;
    right: 285px;
    bottom: 15px;
    background-color: rgba(52, 52, 52, 0.54);
    padding: 15px 15px 15px 40px;
    height: 94px;
}

div#about > img.logo {
    position: absolute;
    left: -85px;
    top: -18px;
}

div#contact {
    position: absolute;
    top: 10px;
    right: 20px;
    line-height: 2em;
    text-align: right;
    font-weight: bold;
}

/********************* MENU/SUBMENU *******************/

ul#menu {
    margin: 0;
    padding: 10px 0;
    width: 950px;
    height: 35px;
    list-style: none;
    border-bottom: 1px solid #878182;
}

ul#menu > li {
    text-align: center;
    float: left;
    width: 158px;
    height: 35px;
}
ul#menu > li > a {
    line-height: 35px;
    color: black;
    text-decoration: none;
}

ul#menu > li.current {
    font-weight: bold;
    background-color: #D7E3F4;
}

/************************* BODY ****************************/

div#body {
    width: 750px;
    padding: 0 100px;
}

div.content {
    width: 100%;
    position: relative;
    clear: both;
    padding-top: 30px;
}

div.box {
    width: 350px;
    position: relative;
    text-align: justify;
}

div.content a.button {
    margin-top: 30px;
    float: right;
}

div.content img.logo {
    position: absolute;
    margin: 0px 20px;
}

div.content > img.logo, div.box.left > img.logo {
    right: 100%;
}

div.box.right > img.logo {
    left: 90%;
}

div.quote {
    width: 290px;
    padding: 30px 30px 0px 30px;
}

div.quote > img {
    width: 55px;
    height: 54px;
}

div.quote > img.left {
    margin: -20px 10px 10px -30px;
}

div.quote > img.right {
    margin: 10px -30px 0px 10px;
}

div.content > a.button {
    clear: both;
}

div.content > div.title {
    background-color: #909090;
    padding: 10px 0px 2px 20px;
    margin-bottom: 5px;
}

div.tutor {
    height: 160px;
    margin-top: 20px;
}

div.tutor > img.photo {
    float: left;
    width: 120px;
    height: 150px;
}

div.description {
    padding: 15px;
    float: left;
    width: 600px;
}

div.description > img.title {
    margin-bottom: 10px;
}
